.card {
  max-width: 376px;
  border-radius: 32px;
  padding: 32px;
  background-color: var(--accent-bgcolor);
  background-image: url("../../img/bg-card.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.card-author {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "avatar name "
    "avatar job";
  gap: 0 20px;
}

.card-avatar {
  grid-area: avatar;
  max-width: 64px;
  max-height: 64px;
}

.card-avatar > img {
  --webkit-mask-image: url("../../svg/avatar-mask.svg");
  width: 100%;
  mask-image: url("../../svg/avatar-mask.svg");
  mask-repeat: no-repeat;
}

.card-name {
  grid-area: name;
  font: 400 26px 'Archivo Black', san-serif;
}

.card-job {
  display: -webkit-box;
  grid-area: job;
  max-width: 230px;
  overflow: hidden;
  font: 500 15px 'Nunito', san-serif;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-theme {
  padding-block: 40px;
  font: 400 30px 'Archivo Black', san-serif;
  line-height: 36px;
}