.article__content-title {
  max-width: 584px;
  color: var(--main-color, black);
  font: 400 30px "Archivo Black", "san-serif";
  line-height: 36px;
}

.article__content-text {
  max-width: 480px;
  color: var(--text-color, gray);
  font: var(--text-font);
  line-height: 28.8px;
}

.article__content-date-and-time {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--date-color, gray);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.article .article__content-date-and-time time {
  padding-inline-end: 16px;
}

/* разметка контента большой карточки*/

.article-big .content-theme {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "activ activ activ"
    ". . .";
  padding-block-start: 18px;
}

.article-big .article__content-title {
  max-width: fit-content;
  font-size: 36px;
  line-height: 43.2px;
}

.article-big .article__content-text {
  max-width: fit-content;
  padding-block-start: 8px;
}

.article-big .theme-item_is-activ {
  grid-area: activ;
  justify-self: end;
  align-self: start;
}

.article-big .article__content-date-and-time {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "date idate"
    "time itime";
  justify-items: end;
  padding-block-start: 28px;
}

.article-big .article__content-date-and-time time {
  padding-inline-end: 0;
}

.icon-date {
  grid-area: idate;
}
.date {
  grid-area: date;
}
.icon-time {
  grid-area: itime;
}
.time {
  grid-area: time;
}

@media (max-width: 1279px) {
  .article__content-title {
    font-size: 24px;
    line-height: 28.8px;
  }

  .article__content-text {
    max-width: 95%;
  }

  .article-big .article__content-title {
    font-size: 26px;
    line-height: 31.2px;
  }

  .article-big .article__content-text, 
  .article-big .article__content-date-and-time  {
    padding: 0;
    align-self: center;
  }

  .article-big .content-theme {
    padding-block-start: 0;
  }
}

@media (max-width: 767px) {
  .article-big .content-theme {
    display: flex;
  }

  .article__content-title,
  .article-big .article__content-title {
    font-size: 24px;
    line-height: 28.8px;
    max-width: 95%;
  }

  .article-big .article__content-date-and-time {
    display: flex;
  }
}
