@import url('./__image/preview__image.css');
@import url('./__content/preview__content.css');

.preview {
  display: flex;
  gap: 40px;
  padding: 76px 116px 122px;
}

@media (max-width: 1279px) {
  .preview {
    display: grid;
    justify-items: center;
    padding: 48px 32px;
  }
}

@media (max-width: 767px) {
  .preview {
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
  }
}