@import url('./__image/preview__image.css');
@import url('./__content/preview__content.css');

.preview {
  padding: 76px 116px 122px;
  display: flex;
  gap: 40px;
}

@media (max-width: 1279px) {
  .preview {
    padding: 48px 32px;
    display: grid;
    justify-items: center;
  }
}