@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('../../fonts/ArchivoBlack-Regular.ttf');
  font-weight: 400;
}