@import url('./__content/subscribe__content.css');

.subscribe {
  background-color: rgba(242, 242, 242, 1);
}

.subscribe > .runline {
  background-color: var(--accent-bgcolor);
}

.subscribe > .runline:first-child {
  transform: translateY(-81px);
  rotate: 2deg;
}

.subscribe > .runline::after:last-child {
  background-image: url("../../svg/star-white.svg");
}

.subscribe__card {
  --webkit-mask-image: url("../../svg/subscribe-mask.svg");
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 88px;
  width: 1208px;
  max-height: 518px;
  margin: 50px auto 135px;
  background: url("../../img/bg-subscribe.png");
  background-color: var(--accent-color, rgba(87, 172, 188, 1));
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  mask-image: url("../../svg/subscribe-mask.svg");
  mask-repeat: no-repeat;
}

.subscribe__card__content {
  display: flex;
  flex-direction: column;
  gap: 88px;
  max-width: 792px;
  padding: 64px 0px 64px 100px;
  color: rgba(252, 250, 249, 1);
}

.subscribe__card__decor {
  position: relative;
  width: 416px;
  height: 518px;
  background: rgba(27, 31, 33, 1);
  background-image: url("../../img/bg-convert.png");
  mask-image: url("../../svg/subscribe-mask.svg");
  mask-repeat: no-repeat;
}

.convert-blur {
  position: absolute;
  top: 70px;
  left: calc(50%-60px);
}

.convert {
  position: absolute;
  top: 180px;
  left: calc(50% - 153px);
}