.theme-item {
  color: var(--accent-color);
  font: 500 15px "Nunito", "san-serif";
}

.theme-item_is-activ {
  border-radius: 20px;
  padding: 8px 18px;
  color: var(--main-color);
  background-color: var(--accent-bgcolor);
}
