.header__nav {
  display: flex;
  gap: 10px;
}

.header__nav-item {
  padding: 8px 18px;
  border: 1.2px solid rgba(232, 232, 232, 1);
  border-radius: 20px;
  font: 15px Nunito;
  color: rgba(27, 31, 33, 1);
  line-height: 21px;
}

