@import url('./__contacts/footer__contacts.css');
@import url('./__content/footer__content.css');

.footer {
  padding: 64px 116px 80px;
  background-color: var(--main-color);
}

.footer-line {
  background-color: #434343;
  height: 1px;
  border: none;
  margin: 24px 0px;
}

.footer-privicy {
  font: 500 13px "Nunito";
  line-height: 20.8px;
  color: #AEAEAE;
}