@import url("./__contacts/footer__contacts.css");
@import url("./__content/footer__content.css");

.footer {
  padding: 64px 116px 80px;
  background-color: var(--main-color);
}

.footer-line {
  height: 1px;
  margin: 24px 0px;
  border: none;
  background-color: #434343;
}

.footer-privicy {
  color: #aeaeae;
  font: 500 13px "Nunito";
  line-height: 20.8px;
}

@media (max-width: 1279px) {
  .footer {
    padding: 64px 32px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 8px;
  }
  .footer-privicy {
    
  }
}
