@import url('./__logo/header__logo.css');
@import url('./__nav/header__nav.css');
@import url('./__other/header__other.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 116px;
}