.article__image-block {
  position: relative;
}

.article__image {
  width: 100%;
  height: 328px;
  padding-block-end: 13px;
}

/* для большой карточки*/
.article-big .article__image {
  width: 1208px;
  height: 520px;
  padding-block-end: 47px;
}

@media (max-width: 1279px) {
  .article__image-block {
    width: 100%;
    height: 224px;
  }

  .article__image {
    width: 100%;
    height: 100%;
    padding-block-end: 0;
  }

  .article-big .article__image-block {
    width: 92vw;
    height: 40vw;
  }

  .article-big .article__image {
    width: 100%;
    height: 100%;
  }
}


/* маски */
.mask-image-first {
  --webkit-mask-image: url("../../../svg/article-mask-1.svg");
  mask-image: url("../../../svg/article-mask-1.svg");
}

.mask-image-second {
  --webkit-mask-image: url("../../../svg/article-mask-2.svg");
  mask-image: url("../../../svg/article-mask-2.svg");
}

.mask-image-three {
  --webkit-mask-image: url("../../../svg/article-mask-3.svg");
  mask-image: url("../../../svg/article-mask-3.svg");
}

.mask-image-four {
  --webkit-mask-image: url("../../../svg/article-mask-4.svg");
  mask-image: url("../../../svg/article-mask-4.svg");
}

.mask-image-five {
  --webkit-mask-image: url("../../../svg/article-mask-5.svg");
  mask-image: url("../../../svg/article-mask-5.svg");
}

.mask-image-first,
.mask-image-second,
.mask-image-three,
.mask-image-four,
.mask-image-five {
  mask-repeat: no-repeat;
  mask-size: contain;
}