.article__image-block {
  position: relative;
}

.article__image {
  width: 100%;
  height: 328px;
  padding-block-end: 13px;
}

/* для большой карточки*/
.article-big .article__image {
  width: 1208px;
  height: 520px;
  padding-block-end: 47px;
}

@media (max-width: 1279px) {
  .article__image-block {
    width: 100%;
    height: 224px;
  }

  .article__image,
  .article-big .article__image {
    width: 100%;
    height: 100%;
    padding-block-end: 0;
  }

  .article-big .article__image-block {
    width: 100%;
    height: 42vw;
  }
}

@media (max-width:  767px) {
  .article__image-block,
  .article-big .article__image-block {
    width: 304px;
    height: 352px;
  }

  .article__image,
  .article-big .article__image {
    width: 304px;
    height: 352px;
  }
}


/* маски */
.mask-image-first {
  --webkit-mask-image: url("../../../svg/article-mask-1.svg");
  mask-image: url("../../../svg/article-mask-1.svg");
}

.mask-image-second {
  --webkit-mask-image: url("../../../svg/article-mask-2.svg");
  mask-image: url("../../../svg/article-mask-2.svg");
}

.mask-image-three {
  --webkit-mask-image: url("../../../svg/article-mask-3.svg");
  mask-image: url("../../../svg/article-mask-3.svg");
}

.mask-image-four {
  --webkit-mask-image: url("../../../svg/article-mask-4.svg");
  mask-image: url("../../../svg/article-mask-4.svg");
}

.mask-image-five {
  --webkit-mask-image: url("../../../svg/article-mask-5.svg");
  mask-image: url("../../../svg/article-mask-5.svg");
}

.mask-image-first,
.mask-image-second,
.mask-image-three,
.mask-image-four,
.mask-image-five {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

@media (max-width: 1279px) {
  .mask-image-first {
    --webkit-mask-image: url("../../../svg/article-mask-tablet-1.svg");
    mask-image: url("../../../svg/article-mask-tablet-1.svg");
  }
  
  .mask-image-second {
    --webkit-mask-image: url("../../../svg/article-mask-tablet-2.svg");
    mask-image: url("../../../svg/article-mask-tablet-2.svg");
  }
  
  .mask-image-three {
    --webkit-mask-image: url("../../../svg/article-mask-tabet-3.svg");
    mask-image: url("../../../svg/article-mask-tabet-3.svg");
  }
  
  .mask-image-four {
    --webkit-mask-image: url("../../../svg/article-mask-tablet-4.svg");
    mask-image: url("../../../svg/article-mask-tablet-4.svg");
  }
  
  .mask-image-five {
    --webkit-mask-image: url("../../../svg/article-mask-tablet-5.svg");
    mask-image: url("../../../svg/article-mask-tablet-5.svg");
  }
}


@media (max-width: 767px) {
  .mask-image-first {
    --webkit-mask-image: url("../../../svg/article-mask-mobile-1.svg");
    mask-image: url("../../../svg/article-mask-mobile-1.svg");
  }
  
  .mask-image-second {
    --webkit-mask-image: url("../../../svg/article-mask-mobile-2.svg");
    mask-image: url("../../../svg/article-mask-mobile-2.svg");
  }
  
  .mask-image-three {
    --webkit-mask-image: url("../../../svg/article-mask-mobile-3.svg");
    mask-image: url("../../../svg/article-mask-mobile-3.svg");
  }

  .mask-image-four {
    --webkit-mask-image: url("../../../svg/article-mask-mobile-4.svg");
    mask-image: url("../../../svg/article-mask-mobile-4.svg");
  }
  
  .mask-image-five {
    --webkit-mask-image: url("../../../svg/article-mask-mobile-5.svg");
    mask-image: url("../../../svg/article-mask-mobile-5.svg");
  }
}